@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sb-size: 10px;              
    --sb-track: transparent;      
    --sb-thumb: #FFFFFF33;          
    --sb-thumb-hover: #FFFFFF55;    
  }

  .dark :root {
    --sb-thumb: #00000033;          
    --sb-thumb-hover: #00000055;    
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--sb-thumb) var(--sb-track);
  }

  /* Chrome/Edge/Safari */
  *::-webkit-scrollbar {
    width: var(--sb-size);
    height: var(--sb-size);
  }
  *::-webkit-scrollbar-track {
    background: var(--sb-track);
  }
  *::-webkit-scrollbar-thumb {
    background-color: var(--sb-thumb);
    border-radius: 9999px;
  }
  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--sb-thumb-hover);
  }
}